gunicorn==20.0.4
#juntagrico~=1.5.0
git+https://github.com/nixnuex/juntagrico@feat_membership_notice_period # fix membership cancellation date
psycopg2==2.8.4

django-mail-queue==3.2.2
juntagrico-webdav~=1.5.0
juntagrico-pg~=1.5.0
git+https://github.com/juntagrico/juntagrico-billing
git+https://github.com/nixnuex/juntagrico-polling@remove_menudict
django-oauth-toolkit==1.7.0
#django-oidc-provider==0.7.0
git+https://github.com/dkdndes/django-oidc-provider@6db384846801564b98ca4a2435187f9ff50ec254

django-debug-toolbar==3.2.1

# get around url parsing bug in regex-2022.3.15
regex==2022.3.2
