gunicorn~=25.1.0
juntagrico~=2.0.0
psycopg>=3.1.8

juntagrico-webdav~=2.0.0
juntagrico-pg~=2.0.0
juntagrico-billing~=2.0.0
juntagrico-contribution~=0.3.0

django-oauth-toolkit~=3.2.0
git+https://github.com/juanifioren/django-oidc-provider@develop
django-debug-toolbar~=5.2.0
