{% load juntagrico.depot_extras %}
{% load i18n %}
{% load juntagrico.common %}
{% load ortoloco_common %}
{% load juntagrico.config %}
<h2 style="font-size: 18px;">{{ tour_name }}: {{ day.name }} - {{ day.weekday|get_date }}</h2>
<table cellpadding="5" cellspacing="0" style="width:100%; margin-bottom:5px;" class="bottom-border">
    <tr>
        <td></td>
        {% for product in products %}
            <th colspan="{{ product.sizes.on_depot_list.count }}" class="top-border {% if forloop.first %}left-border{% endif %} right-border">{{ product.name }}<br/></th>
        {% endfor %}
    </tr>
    <tr>
        <td></td>
        {% for product in products %}
            {% for size in product.sizes.on_depot_list.sorted %}
                <td class="small bottom-border {% if forloop.first %}left-border{% endif %} {% cycle '' 'bg-grey' %}">{{ size.name }}</td>
            {% endfor %}
        {% endfor %}
        {% resetcycle %}
    </tr>
    {% for tour in tours|by_weekday:day.weekday %}
        <tr>
            <td style="width:360px;" {% if tour.name == tour_name %}class="bg-grey"{% endif %}>{{ tour.name }}</td>
            {% for product in products %}
                {% for size in product.sizes.on_depot_list.sorted %}
                    <td class="{% cycle '' 'bg-grey' %}" style="text-align:center">
                        {% if tour.name == tour_name %}<b>{% endif %}
                            {{ subscriptions|by_tour:tour|parts_by_size:size|active_on:date|count|floatformat }}
                        {% if tour.name == tour_name %}</b>{% endif %}
                    </td>
                {% endfor %}
            {% endfor %}
            </tr>
        {% resetcycle %}
    {% endfor %}
    <tr>
        <td><b>{% trans "Total" %}</b></td>
        {% for product in products %}
            {% for size in product.sizes.on_depot_list.sorted %}
                <td class="{% cycle '' 'bg-grey' %}"><b>{{ subscriptions|by_weekday:day.weekday|parts_by_size:size|active_on:date|count|floatformat }}</b></td>
            {% endfor %}
        {% endfor %}
        {% resetcycle %}
    </tr>
</table>
