<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ subject }}</title>
<style>
/* prevent long lines from breaking the Böhnli layout */
p,pre {
	white-space: pre;           /* CSS 2.0 */
	white-space: pre-wrap;      /* CSS 2.1 */
	white-space: pre-line;      /* CSS 3.0 */
	white-space: -pre-wrap;     /* Opera 4-6 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -hp-pre-wrap;  /* HP Printers */
	word-wrap: break-word;      /* IE 5+ */
	width: 100%;
}
</style>
</head>

<body style="margin: 0; padding: 0;">
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td colspan="3" background="{{ serverurl }}/static/img/erbse_x.png" align="center" height="20" style="padding: 0; margin: 0; font-size: 14px; height: 20px;">&nbsp;</td>
    </tr>
    <tr>
        <td rowspan="2" background="{{ serverurl }}/static/img/erbse_y.png" width="20" style="padding: 0; margin: 0; font-size: 14px; height: 20px;">&nbsp;</td>
        <td style="font-size: 16px; font-family: 'Courier New', monospace; padding: 5px;"><b>{{ subject }}</b></td>
        <td rowspan="2" background="{{ serverurl }}/static/img/erbse_y.png" width="20" style="padding: 0; margin: 0; font-size: 14px; height: 20px;">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-size: 16px; font-family: 'Courier New', monospace; padding: 5px; word-break: break-word;">
        {% block content %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td colspan="3" background="{{ serverurl }}/static/img/erbse_x.png" align="center" height="20" style="padding:0; margin:0; font-size:14px; height:20px;">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="3" style="padding-top:25px;">
            <a href="https://ortoloco.ch">
                <img src="{{ serverurl }}/static/img/erbse_voll.png" alt=""/>ortoloco.ch
            </a>
        </td>
    </tr>
</table>

<br>
<span style="font-style: italic; color: #c0c0c0; font-size: 8pt;">
    <address>
	    Genossenschaft ortoloco | c/o co_werk 5 | Geerenweg 2 | 8048 Zürich | info@ortoloco.ch
    </address>
    Du möchtest keine E-Mails mehr erhalten? Melde dich bitte per <a href="https://ortoloco.ch/kontakt/">Kontaktformular</a> bei uns.
</span>
<br><br>
</body>
</html>
