{% extends "mails/email.html" %}
{% block content %}
    Die Gartenkooperative freut sich dir dein neues Passwort schicken zu dürfen.
    <br/>
    <br/>
    <table cellpadding="0" cellspacing="0">
        <tr>
            <td style="font-size:14px;font-family:'Courier New',monospace;">Dein Benutzername:</td>
            <td style="font-size:14px;font-family:'Courier New',monospace;">{{ email }}</td>
        </tr>
        <tr>
            <td style="font-size:14px;font-family:'Courier New',monospace; padding-right: 15px;">Dein neues Passwort:</td>
            <td style="font-size:14px;font-family:'Courier New',monospace;">{{ password }}</td>
        </tr>
        <tr>
            <td style="font-size:14px;font-family:'Courier New',monospace; padding-right: 15px;">Link zum Login:</td>
            <td style="font-size:14px;font-family:'Courier New',monospace;"><a href="{{serverurl}}">{{ serverurl }}</a></td>
        </tr>
    </table>
    <br/>
    Herzlich grüsst,
    dein Gartenkooperativen-Team
{% endblock %}
