{% extends "mails/email.html" %}
{% block content %}
    Wir freuen uns, dich, {{ first_name }} {{ last_name }}, bei der Gartenkooperative begrüssen zu dürfen.
    <br/><br/>
    Unter <a href="http://meine.gartenkooperative.li">meine.gartenkooperative.li</a> kannst du dich ab sofort für Arbeitseinsätze anmelden und vieles mehr.
    <br/><br/>
    Email: {{ username }}<br/>
    Passwort: {{ password }} (bitte setze dir <a href="{{ serverurl }}/my/passwort">hier</a> gleich ein neues Passwort)
    <br/><br/>
    Weitere Infos wirst du bald erhalten. Bei Fragen oder Unklarheiten einfach melden: <br/>
    <a href="mailto:kontakt@gartenkooperative.li">kontakt@gartenkooperative.li</a>
    <br/><br/>
    Herzlich grüsst,<br/>
    die Gartenkopoerativen-Betriebsgruppe
{% endblock %}
