{% load common %}
{% load depot_extras %}
{% load i18n %}
{% load config %}
<html>
<head>
    <title>{% trans "Mengen-Übersicht" %}</title>
    <meta charset="utf-8">
    <style>{% include "./snippets/snippet_depotlist_style.css" %}</style>
</head>

<body>
<div id="header_content">
    {% now "d.m.Y H:i" %}
</div>

<div>
    <table cellpadding="5" cellspacing="0" style="width:100%; margin-bottom:5px;" class="bottom-border">
        <tr>
            <td style="width:200px"></td>
            <td style="width:200px"></td>
            {% for product in products %}
                <th colspan="{{ product.sizes|count }}" class="top-border {% if forloop.first %}left-border{% endif %} right-border">{{ product.name }}</th>
            {% endfor %}
        </tr>
        <tr>
            <td class="small bottom-border right-border"></td>
            <td class="small bottom-border  right-border">{% trans "Abos" %}</td>
            {% for product in products %}
                {% for size in product.sizes %}
                    <td class="small bottom-border {% if forloop.first %}left-border{% endif %} {% cycle '' 'bg-grey' %}">{{ size.name }}</td>
                {% endfor %}
            {% endfor %}
            {% resetcycle %}
        </tr>
        {% for day in weekdays %}
            <tr>
                <td>{{ day.name }}</td>
                <td>{{ subscriptions|by_weekday:day.weekday|count }}</td>
                {% for product in products %}
                    {% for size in product.sizes %}
                        <td class="{% cycle '' 'bg-grey' %}">{{ day|get_attr:size.key|default:'0' }}</td>
                    {% endfor %}
                {% endfor %}
                {% resetcycle %}
            </tr>
        {% endfor %}
        <tr>
            <td><b>{% trans "Total" %}</b></td>
            <td>{{ subscriptions|count }}</td>
            {% for product in products %}
                {% for size in product.sizes %}
                    <td class="{% cycle '' 'bg-grey' %}"><b>{{ size.total }}</b></td>
                {% endfor %}
            {% endfor %}
            {% resetcycle %}
        </tr>
    </table>
</div>
</body>
</html>
