{% load juntagrico.common %}
{% load ortoloco_common %}
{% load juntagrico.depot_extras %}
{% load i18n %}
{% load juntagrico.config %}
{% vocabulary "depot" as v_depot %}
<html>
<head>
    <title>{% blocktrans %}{{ v_depot }} Übersicht{% endblocktrans %}</title>
    <meta charset="utf-8">
    <style>{% include "./snippets/snippet_depotlist_style.css" %}</style>
</head>

<body>
{% for day in days %}
    <div id="header_content" style="text-align:right">
        {% trans "Erstellt am" %} {% now "d.m.Y H:i" %},
        {% trans "Stichtag" %} {{ date|date:"d.m.Y" }}
    </div>
    <div id="footer_content">
        <div class="messageb">Diese Liste bitte immer zurück ans Klemmbrett heften! Danke.</div>
    </div>
        <h2 style="font-size: 18px;">{{ day.name }}</h2>
    <table cellpadding="5" cellspacing="0" style="width:100%; margin-bottom:5px;" class="bottom-border">
        <tr>
            <td></td>
            {% for product in products %}
                <th colspan="{{ product.sizes.on_depot_list.count }}" class="top-border {% if forloop.first %}left-border{% endif %} right-border">{{ product.name }}<br/><span
                        style="font-size:11px">{{ product.description|safe }}</span></th>
            {% endfor %}
        </tr>
        <tr>
            <td></td>
            {% for product in products %}
                {% for size in product.sizes.on_depot_list.sorted %}
                    <td class="small bottom-border {% if forloop.first %}left-border{% endif %} {% cycle '' 'bg-grey' %}">{{ size.name }}</td>
                {% endfor %}
            {% endfor %}
            {% resetcycle %}
        </tr>
        {% for tour in tours %}
        {% if tour.weekday == day.weekday %}
        {% for depot in tour.depots.all %}
            <tr>
                <td style="width:360px;">{{ depot.name }}</td>
                {% for product in products %}
                    {% for size in product.sizes.on_depot_list.sorted %}
                        <td class="{% cycle '' 'bg-grey' %}" style="text-align:center">{{ subscriptions|by_depot:depot|parts_by_size:size|active_on:date|count|floatformat }}</td>
                    {% endfor %}
                {% endfor %}
            </tr>
            {% resetcycle %}
        {% endfor %}
        {% endif %}
        {% endfor %}
        <tr>
            <td>{% trans "Total" %}</td>
            {% for product in products %}
                {% for size in product.sizes.on_depot_list.sorted %}
                    <td class="{% cycle '' 'bg-grey' %}" style="text-align:center">{{ subscriptions|by_weekday:day.weekday|parts_by_size:size|active_on:date|count|floatformat }}</td>
                {% endfor %}
            {% endfor %}
            {% resetcycle %}
        </tr>
    </table>
    <div class="page-break"></div>
{% endfor %}
</body>
</html>
