{% load ortoloco_common %}
{% load juntagrico.depot_extras %}

{% load i18n %}
{% load juntagrico.config %}
{% vocabulary "depot" as v_depot %}
<html>
<head>
    <title>{% blocktrans %}{{ v_depot }} Übersicht{% endblocktrans %}</title>
    <meta charset="utf-8">
    <style>{% include "./snippets/snippet_depotlist_style.css" %}</style>
</head>
<body>
{% for day in weekdays %}
<div id="header_content" class="gendate">
    {% now "d.m.Y H:i" %}
</div>
    <h2 style="font-size: 18px;">{{ day.name }}</h2>
<table cellpadding="5" cellspacing="0" style="width:100%; margin-bottom:5px;" class="bottom-border">
    <tr>
        <td></td>
        {% for product in products %}
            <th colspan="{{ product.sizes|count }}" class="top-border {% if forloop.first %}left-border{% endif %} right-border">{{ product.name }}<br/></th>
        {% endfor %}
    </tr>
    <tr>
        <td></td>
        {% for product in products %}
            {% for size in product.sizes %}
                <td class="small bottom-border {% if forloop.first %}left-border{% endif %} {% cycle '' 'bg-grey' %}">{{ size.name }}</td>
            {% endfor %}
        {% endfor %}
        {% resetcycle %}
    </tr>
    {% for depot in depots|by_weekday:day.weekday %}
        <tr>
            <td style="width:360px;">{{ depot.name }}</td>
            {% for product in products %}
                {% for size in product.sizes %}
                    <td class="{% cycle '' 'bg-grey' %}">{{ depot|get_attr:size.key|default:'0' }}</td>
                {% endfor %}
            {% endfor %}
        </tr>
        {% resetcycle %}
    {% endfor %}
    <tr>
        <td><b>{% trans "Total" %}</b></td>
        {% for product in products %}
            {% for size in product.sizes %}
                <td class="{% cycle '' 'bg-grey' %}"><b>{{ day|get_attr:size.key|default:'0' }}</b></td>
            {% endfor %}
        {% endfor %}
        {% resetcycle %}
    </tr>
</table>
<div class="page-break"></div>
{% endfor %}
</body>
</html>
