{% load ortoloco_common %}
{% load juntagrico.depot_extras %}

{% load i18n %}
{% load juntagrico.config %}
{% vocabulary "depot" as v_depot %}
<html>
<head>
    <title>{% blocktrans %}{{ v_depot }} Übersicht{% endblocktrans %}</title>
    <meta charset="utf-8">
    <style>{% include "./snippets/snippet_depotlist_style.css" %}</style>
</head>
<body>
{% for day in weekdays %}
<div id="header_content" class="gendate">
    Erstellt am: {% now "d.m.Y H:i" %}
</div>
<div id="footer_content">
    <div class="messageb">Diese Liste bitte immer zurück ans Klemmbrett heften! Danke.</div>
</div>
    <h2 style="font-size: 18px;">{{ day.name }}</h2>
<table cellpadding="5" cellspacing="0" style="width:100%; margin-bottom:5px; border-collapse: collapse;" class="bottom-border">
    <tr>
        <th style="small bottom-border right-border">{% trans "Tour" %}</th>
        <th style="small bottom-border right-border">{% trans "Reihe" %}</th>
        <th class="small bottom-border right-border">{% trans "Depot" %}</th>
    </tr>
    {% for tour in tours %}
        {% for depot in depots|by_weekday:day.weekday|depots_by_tour:tour %}
            <tr>
                {% if not tour.local %}
                    <td>{{tour.name}}</td>
                {% else %}
                    <td></td>
                {% endif %}
                <td>#{{ depot|depot_index:day_tours }}</td>
                <td>{{ depot.name }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="3"></td>
        </tr>
    {% endfor %}
</table>
<div class="page-break"></div>
{% endfor %}
</body>
</html>
