{% extends "signup.html" %}
{% block title %}
    Persönliche Daten
{% endblock %}
{% block intro %}
                <div class="col-md-12">
                    <h4>Schnupperabo:</h4>
                    Für ein Schnupperabo kannst du hier deine Daten einfügen, welche für die Anmeldung
                    notwendig sind. Wir werden dir keine Anteilscheine in Rechnung stellen, benötigen jedoch
                    trotzdem gewisse Informationen.

                    <h4>Regulärer Beitritt:</h4>
    {{ block.super }}
{% endblock %}
{% block intro_with_shares %}
    <p>
    Die Mitgliedschaft bei ortoloco ist geknüpft an den
    Erwerb von Anteilscheinen in der Höhe von CHF 250 pro
    Anteilschein. Die Anteilscheine bilden das Investitionskapital,
    das zur Finanzierung der Infrastruktur verwendet wird. Jeder
    Haushalt, der ein Abo bezieht, zeichnet im Minimum 4 Anteilscheine
    (CHF 1'000). Damit wir den Hof zu einem grossen Teil über
    Anteilscheine tragen können, beteiligen sich Haushalte, die das
    können, mit mehr - idealerweise mit 26 Anteilscheinen pro Abo.
    Beim Austritt werden die Anteilscheine rückerstattet.
    </p>
{% endblock %}
