{% extends "no_menu_base.html" %}
{% load i18n %}
{% load config %}
{% block all_page_title %}
    {% vocabulary "share_pl" as v_share_pl %}
    <div class="page-title offset-md-2 col-md-8">
        <h3>
            Ermöglicht den Hofkauf durch eure {{ v_share_pl }}!
        </h3>
    </div>
{% endblock %}
{% block allcontent %}
    <div class="offset-md-2 col-md-8">
        <div class="row mb-4">
            <div class="col-md-12">
                Bei der angegebenen Anzahl von Anteilscheinen handelt es sich um ein Minimum pro Abo.
                Damit wir den Hof zu einem grossen Teil über Anteilscheine tragen können, beteiligen sich
                Haushalte, die das können, mit mehr - idealerweise mit 26 Anteilscheinen (CHF 6‘500) pro Abo.
            </div>
        </div>
        <a href="{% url next_page %}" class="btn btn-success">Weiter</a>
    </div>
{% endblock %}