{% extends "mybase.html" %}

{% block content %}
    <h3>Abogrösse ändern</h3>
    {% if saved %}
        <div class="alert alert-success">
            Die Abogrösse wurde erfolgreich geändert.<br/>
            <a href="/my/abo">Zurück zur Abo-Übersicht</a>
        </div>
    {% else %}
        <br/>
        <form method="post" class="form-horizontal createabo">
            {% csrf_token %}
            <div class="form-group">
                <label class="control-label col-sm-4">Abogrösse</label>

                <div class="controls col-sm-8">
                    <div class="radio">
                        <label class="radio" for="small">
                            <input type="radio" name="abo" value="1" id="small" {% if size == 1 %}checked="checked"{% endif %}/>
                            <strong>Ein Abo</strong>

                            <div>
                            </div>
                                Das Abo ist für 1 Person geeignet.
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4"></label>

                <div class="controls col-sm-8">
                    <div class="radio">
                        <label for="big">
                            <input type="radio" name="abo" value="2" id="big" {% if size == 2 %}checked="checked"{% endif %}/>
                            <strong>Zwei Abos</strong>

                            <div>
                                Das Abo ist für 2 Personen geeignet.
                            </div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4"></label>

                <div class="controls col-sm-8">
                    <div class="radio">
                        <label for="house">
                            <input type="radio" name="abo" value="3" id="house" {% if size == 3 %}checked="checked"{% endif %}/>
                            <strong>Drei Abos</strong>

                            <div>
                                Das Abo ist für 3 Personen geeignet.
                            </div>
                        </label>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <label class="control-label col-sm-4"></label>

                <div class="controls col-sm-8">
                    <div class="radio">
                        <label for="big">
                            <input type="radio" name="abo" value="4" id="house" {% if size == 4 %}checked="checked"{% endif %}/>
                            <strong>Vier Abos</strong>

                            <div>
                                Das Abo ist für 4 Personen geeignet.
                            </div>
                        </label>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <label class="control-label col-sm-4"></label>
                <div class="controls col-sm-8">
                    <button type="submit" class="btn btn-success">Abogrösse ändern</button>
                </div>
            </div>
            <div class="form-actions col-sm-8">
            </div>
            <br/>
            <div class="form-group">
            <label class="control-label col-sm-4">Abo kündigen</label>
            <div class="controls col-sm-8">
                <label>
                    <div>
                        Du willst ab nächstem Jahr kein ortoloco-Abo mehr? Dann schicke bitte deine Kündigung
                        bis spätestens Ende Januar an <a href="&#109;&#097;&#105;&#108;&#116;&#111;&#058;&#105;&#110;&#102;&#111;&#064;&#109;&#101;&#104;&#097;&#108;&#115;&#103;&#109;&#117;&#101;&#115;&#046;&#099;&#104?subject=Kündigung Abo">&#105;&#110;&#102;&#111;&#064;&#109;&#101;&#104;&#097;&#108;&#115;&#103;&#109;&#117;&#101;&#115;&#046;&#099;&#104;</a>.
                        Weitere Infos zur Kündigung des Abos und der Mitgliedschaft findest du im
                        <a href="/medias/documents/Betriebsreglement_der_Genossenschaft_meh_als_gmues.pdf">Betriebsreglement</a>.
                    </div>
                </label>
            </div>
        </div>
    </form>
    {% endif %}

{% endblock %}
