{% extends "base.html" %}

{% block content %}
	<h3>Kontakt</h3>
    {% if success == 1  %}
        <div class="alert alert-success">{{ message }}</div>
    {% endif %}
    {% if failure == 1 %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endif %}
	<!-- <div>Das Meh als Gmües-Gemüsefeld befindet sich am Stadtrand von Affoltern gleich am Chatzenbach.</div>
	<div id="map-canvas"></div>-->
    <br/>
    <br/><br/>
	<div class="addresses row">
		<div class="col-md-6">
			<strong>Adresse Administration</strong><br/>
			Meh als Gmües - c/o Verein MIR<br/>
			Dialogweg 6<br/>
			8050 Zürich<br/>
			info@mehalsgmues.ch<br />
		<!--<div class="col-md-6">
			<strong>Adresse Meh als Gmüesfeld</strong><br/>
            Meh als Gmües<br/>
            Reckenholzstr. 150<br/>
            8046 Zürich <br/>
            info@mehalsgmues.ch<br/>
		</div>-->
			<br />
		</div>
		<div class="col-md-8">
		
		Fragen zur Mitgliedschaft oder zum Gemüseabo? </br>
		kontaktiere Mirjam Holinger oder Matthias Probst unter <a href="mailto:info@mehalsgmues.ch?subject=Frage zu meh als gmues">info@mehalsgmues.ch</a></br>
		Fragen zur Buchhaltung?</br>
		kontaktiere Astrid Dobler oder Alexandra Takhtarova unter <a href="mailto:buchhaltung@mehalsgmues.ch?subject=Frage zu Buchhaltung">buchhaltung@mehalsgmues.ch</a></br>

		</div>
	</div>
{% endblock %}

{% block scripts %}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
    <script type="text/javascript" src="/static/external/require.min.js" data-main="/static/js/initContact.js"></script>
{% endblock %}
