{% extends "base.html" %}

{% block content %}
	<h3>Kontakt</h3>
    {% if success == 1  %}
        <div class="alert alert-success">{{ message }}</div>
    {% endif %}
    {% if failure == 1 %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endif %}
	<div>Das <font color="#709f4a"><strong>meh als gmües</strong></font>-Feld befindet sich am Stadtrand von Affoltern gleich am Chatzenbach.</div>
	<br/>
    <br/>	
	<div id="map-canvas"></div>
	<br/>
	<div class="addresses row">
		<div class="col-md-6">
			<strong>Adresse Administration</strong><br/>
			<font color="#709f4a"><strong>meh als gmües</strong></font> - c/o Verein MIR<br/>
			Dialogweg 6<br/>
			8050 Zürich<br/>
			info@mehalsgmues.ch<br />
		</div>
		<div class="col-md-6">
			<strong>Adresse Feld</strong><br/>
            <font color="#709f4a"><strong>meh als gmües</strong></font><br/>
            Reckenholzstr. 150<br/>
            8046 Zürich <br/>
            info@mehalsgmues.ch<br/>
		</div>
			<br />
	</div>
	<div class="addresses row">
		<div class="col-md-12">
		Fragen zur Mitgliedschaft oder zum Gemüseabo? </br>
		kontaktiere Mirjam Holinger oder Matthias Probst unter <a href="&#109;&#097;&#105;&#108;&#116;&#111;&#058;&#105;&#110;&#102;&#111;&#064;&#109;&#101;&#104;&#097;&#108;&#115;&#103;&#109;&#117;&#101;&#115;&#046;&#099;&#104?subject=Frage zu meh als gmues">&#105;&#110;&#102;&#111;&#064;&#109;&#101;&#104;&#097;&#108;&#115;&#103;&#109;&#117;&#101;&#115;&#046;&#099;&#104;</a></br>
		Fragen zur Buchhaltung?</br>
		kontaktiere Astrid Dobler oder Alexandra Takhtarova unter <a href="&#109;&#097;&#105;&#108;&#116;&#111;&#058;&#098;&#117;&#099;&#104;&#104;&#097;&#108;&#116;&#117;&#110;&#103;&#064;&#109;&#101;&#104;&#097;&#108;&#115;&#103;&#109;&#117;&#101;&#115;&#046;&#099;&#104;?subject=Frage zu Buchhaltung">&#098;&#117;&#099;&#104;&#104;&#097;&#108;&#116;&#117;&#110;&#103;&#064;&#109;&#101;&#104;&#097;&#108;&#115;&#103;&#109;&#117;&#101;&#115;&#046;&#099;&#104;</a></br>

		</div>
	</div>
{% endblock %}

{% block scripts %}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
    <script type="text/javascript" src="/static/external/require.min.js" data-main="/static/js/initContact.js"></script>
{% endblock %}
