{% extends "base.html" %}

{% block content %}
    <h3>Dokumente</h3>
    <table class="table">
	            <tr>
                <th class="document">
                    <div class="document">
                        <a href="/medias/documents/Betriebsreglement_der_Genossenschaft_meh_als_gmues.pdf" target="_blank">Betriebsreglement</a>
                    </div>
                    <div class="desc">
                        Betriebsreglement der Genossenschaft meh als gmües
                    </div>
                </th>
            </tr>
			
        {% for document in documents %}
            <tr>
                <th class="document">
                    <div class="document">
                        <a href="/medias/{{ document.document }}" target="_blank">{{ document.title }}</a>
                    </div>
                    <div class="desc">
                        {{ document.description }}
                    </div>
                </th>
            </tr>
        {% endfor %}
    </table>
{% endblock %}