{% extends "base.html" %}

{% block content %}
    <h3>Dokumente</h3>
    <table class="table">
	            <tr>
                <th class="document">
                    <div class="document">
                        <a href="/static/medias/documents/Statuten_der_Genossenschaft_meh_als_gmues.pdf" target="_blank">Statuten</a>
                    </div>
                    <div class="desc">
                        Statuten der Genossenschaft <font color="#709f4a"><strong>meh als gmües</strong></font>
                    </div>
                </th>
            </tr>		
	            <tr>
                <th class="document">
                    <div class="document">
                        <a href="/static//medias/documents/Betriebsreglement_der_Genossenschaft_meh_als_gmues.pdf" target="_blank">Betriebsreglement</a>
                    </div>
                    <div class="desc">
                        Betriebsreglement der Genossenschaft <font color="#709f4a"><strong>meh als gmües</strong></font>
                    </div>
                </th>
            </tr>			
        {% for document in documents %}
            <tr>
                <th class="document">
                    <div class="document">
                        <a href="{{ MEDIA_URL }}media/{{ document.document }}" target="_blank">{{ document.title }}</a>
                    </div>
                    <div class="desc">
                        {{ document.description }}
                    </div>
                </th>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
