{% extends "base.html" %}

{% block content %}
    <h3>Wie kann ich mitmachen?</h3>
    <h4>Schritt 1:</h4></br>
	Werde Mitglied bei der Genossenschaft meh als gmües und erwerbe einen Anteilsschein für 250 Franken. Beim Austritt aus der Genossenschaft wird dir dieser Betrag rückerstattet. Es gilt die Regel: Pro Anteilsschein kann ein Gemüseabo bezogen werden.
    <br/><br/>
	<h4>Schritt 2:</h4></br>
    Kauf eines Gemüseabo (ab ca. Juni 2016). Eine Aboeinheit reicht für die wöchentliche Vollversorgung einer Person und kostet CHF 550/Jahr. 
	(2016 wird das Gemüseabo zu einem reduzierten Betrag abgegeben – Details folgen.)
    <br/><br/>
    So wirst du Genossenschafterin/Genossenschafter von meh als gmües: <!-- Fülle das untenstehende Formular aus oder melde dich -->bei <a href="&#109;&#097;&#105;&#108;&#116;&#111;&#058;&#105;&#110;&#102;&#111;&#064;&#109;&#101;&#104;&#097;&#108;&#115;&#103;&#109;&#117;&#101;&#115;&#046;&#099;&#104?subject=Frage zu meh als gmues">&#105;&#110;&#102;&#111;&#064;&#109;&#101;&#104;&#097;&#108;&#115;&#103;&#109;&#117;&#101;&#115;&#046;&#099;&#104;</a>
    <br/><br/>
    Meh als gmües richtet sich in erster Linie an die Genossenschaftsmitglieder von mehr als wohnen auf dem Hunziker Areal – nichtsdestotrotz sind bei uns alle herzlich willkommen, die bereit sind, mitzuarbeiten und ihr Gemüse einmal pro Woche im Depot auf dem Hunziker Areal abzuholen.
    <br/><br/>
 <!--   <a href="/my/anmelden" class="btn btn-success">GenossenschafterIn werden</a>-->
{% endblock %}