{% extends "base.html" %}

{% block content %}
	<h3>Organisation</h3>
    Die Genossenschaft <font color="#9bbb59">meh als gmües</font> bewirtschaftet 1,6 Hektaren Ackerland und produziert unter Anleitung einer Gemüsefachkraft zusammen mit ihren Genossenschafterinnen und Genossenschafter faires und biologisches Gemüse. Das Gemüse wird wöchentlich aufs Hunziker Areal gebracht und kann in Form eines Gemüseabos bezogen werden.
    <br/><br/>
    Die Mitglieder helfen auf dem Feld mit und/oder engagieren sich in Projektgruppen zu unterschiedlichen Bereichen wie Infrastruktur, Verteiltransport sowie Kräuter und Blumen. Es ist jederzeit möglich eine neue Projektgruppe zu gründen oder sich in einer bestehenden Projektgruppe zu engagieren. Zudem können die Genossenschafterinnen und Genossenschafter Einfluss auf den Anbauplan nehmen und mitbestimmen wie viel von welcher Gemüsesorte angebaut werden soll. Neben dem Einsatz auf dem Feld und in den Arbeitsgruppen gibt es genug Raum für weitere Aktivitäten wie Feste, Veranstaltungen oder gemütliches Beisammensein. 
    <br/><br/>
    <font color="#9bbb59">Meh als gmües</font> wird von einer ehrenamtlichen Betriebsgruppe geführt. Diese plant den Betrieb sowie organisiert die Einsätze der Genossenschaftsmitglieder. Unterstützt wird die Betriebsgruppe durch eine externe, ebenfalls ehrenamtlich tätige Buchhalterin. Die Betriebsgruppe besteht aus acht Mitgliedern, die an der jährlichen Generalversammlung gewählt oder bestätigt werden.	
{% endblock %}