{% extends "juntagrico/menu/admin/lists.html" %}
{% load i18n %}
{% block sub %}
    {{ block.super }}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'lists-depot-touroverview' %}">
                            Tour {% trans "Übersicht" %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'lists-depot-tourlist' %}">
                            Tour {% trans "Details" %}
                        </a>
                    </li>
{% endblock %}
